appdirs==1.4.3
astroid==1.4.9
Django==1.10.6
django-cors-headers==2.0.2
django-filter==1.0.1
djangorestframework==3.5.4
djangorestframework-jsonapi==2.1.1
inflection==0.3.1
isort==4.2.5
lazy-object-proxy==1.2.2
Markdown==2.6.8
mccabe==0.6.1
packaging==16.8
psycopg2==2.7
pylint==1.6.5
pyparsing==2.2.0
six==1.10.0
virtualenv==15.1.0
wrapt==1.10.8
