{{#if display}}
  {{#if component.help}}
    <div>{{component.help}}</div>
  {{/if}}
  {{#each values as |value index|}}
    {{mediasuite-radio-buttons
      value=value
      inlineGroupLabel=component.label
      options=component.options
      optionValuePath='value'
      optionLabelPath='label'
      update=(action 'updateState' index)
    }}
  {{/each}}
  {{#if component.repeatable}}
    <button {{action 'add'}}>Add</button>
  {{/if}}
{{/if}}
