<h2>Library Application</h2>

<ul>
  <li>{{#link-to "authors"}}Authors{{/link-to}}</li>
  <li>{{#link-to "books"}}Books{{/link-to}}</li>
  <li>{{#link-to "dynamic-form"}}Dynamic Form{{/link-to}}</li>
</ul>

<div>
  <button {{action (route-action "logout")}}>Logout</button>
</div>
